@CHARSET "UTF-8";

.nav{
    background-image: linear-gradient(#61ADC1, rgba(87, 178, 202, 0.87),rgba(57,108,121,0.02));
	height: 70px;
}

.signLog{
    right: 30px;
    position: fixed;
    top: 0;
}

.signLog span{
	font-size: x-large;
    color: #fff;
    text-decoration: none;
    padding-right: 10px;
    cursor: pointer;
}

.nav a{
    font-size: xx-large;
    color: #fff;
    text-decoration: none;
    padding-left: 30px;
}

.signInDiv, .loginDiv{
	display: none;
	height: 100vh;
    z-index: 100;
    top: 0;
    position: fixed;
    width: 100%;
    background-color: rgba(175, 171, 168, 0.63);
    padding-top: 10%;
}

.DOB{
    display: flex;
}

.DOBheight{
	height: inherit;
	
}